html {
    height: 100%
}
body {
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  transition: background-color 0.5s;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}